@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 23, 25, 35;
  --background-end-rgb: 15, 17, 25;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
  min-height: 100vh;
}

.hero-gradient {
  background: linear-gradient(90deg, rgba(123,0,255,0.2) 0%, rgba(0,183,255,0.2) 100%);
}

.game-card {
  transition: transform 0.3s ease;
}

.game-card:hover {
  transform: translateY(-10px);
}